/*cabeça*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: "Monserrat", sans-serif;
}

/* tags */

body {
    background-image: url("img/back.jpeg");
    background-size: cover;
    background-position: center;
    }
    
/*corpo*/

/* cabeçalho */
.header{
    position: fixed;
    display: flex;
    width: 100%;
    top: 0;
    padding: 1.7rem 4rem;
    background-color: #fbe3e3;
    height: 4rem;
    z-index: 1;
  }

/* main */

.bloco {
    position: relative;
    background-image: linear-gradient(
        40deg,
        #db8ba6,
        rgb(245, 171, 221));
    display: inline-block;
    border-radius: 3rem;
    width: 40vw;
    margin: 7vw 0;
    height: 33vh;
    text-align: center;
    left: 31.5vw;
}

.titulo-h2 {
    font-size: 1.8rem;
    font-style: italic;
}

.texto-poemas {
    margin: 0.8rem;
    font-size: 1vw;
    height: 1.5vw;
    font-family: "Cormorant", sans-serif;
    font-weight: bold;
}

address p {
    font-style: italic;
    font-size: 1.2vw;
    margin-bottom: 0.2vw;
}
/* footer */

/* imagens */
.bloco-imagens {
    display: inline-block;
    position: relative;
    height: 10vw;
    width: 95vw;
    padding-left: 6vw;
}

.inclinar-direita {
    rotate: 30deg;
    margin-left: 2vw;
    width: 12vw;
}

.inclinar-esquerda {
    rotate: -30deg;
    margin-left: 1.3vw;
    width: 12vw;
}

/* notas */

.divisória-notas {
    background-image: linear-gradient(
        180deg,
        #c380c5,
        #f892d1
        );
    position: relative;
    display: inline-block;
    border-radius: 3rem;
    width: 25vw;
    margin: 7vw 0;
    height: 20vw;
    text-align: center;
    left: 0;
}

.notas {
    font-style: inherit;
    font-size: 1vw;
}

/* musicas */

.musicas {
    position: relative;
    display: inline-block;
    width: 25vw;
    bottom: -20vh;
    margin-left: 2rem;
    height: 0.5vw;
}

/*Barra de rolamento*/

::-webkit-scrollbar-track {
    background: #c5829f; /* Cor de fundo do trilho */
    border-radius: 10px; /* Borda arredondada do trilho */
    }
::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem vertical */
    height: 12px; /* Altura da barra de rolagem horizontal */
    }
::-webkit-scrollbar-thumb {
    background-color: #8f3678; /* cor do trilho */
    border-radius: 6px; /* arredondamento do polegar */
    }
::-webkit-scrollbar-thumb:hover {
    background: #72154b; /* Cor do polegar ao passar o mouse */
    }
